@model IEnumerable<NewsfeedRepo.Models.Article>
@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Lorem Ipsum Blog</h1>
	<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
</div>

<div class="row">
	@if (User.Identity.IsAuthenticated)
	{
		<div class="col-md-6">
			@Html.Partial("CreateArticle", new NewsfeedRepo.Models.Article())
		</div>
	}

		<div class="col-md-6">

			<h2>Recent Posts</h2>

			@{
				if (Model == null)
				{
					<h4>No posts to display</h4>
				}
				else
				{

					for (int i = 0; i < Model.Count(); i++)
					{
						var articles = Model.ToList();
						<p><b>Title: </b>@articles[i].Title</p>
						if(articles[i].Revised)
						{
							<p><b>Revised on: </b>@articles[i].DateRevised</p>
						}						
						<p><b>Posted by: </b>@articles[i].Author</p>
						<p><b>Date: </b>@articles[i].DatePosted</p>
						<p>@articles[i].Body</p>
						if (articles[i].Comments != null)
						{
							foreach (var comment in articles[i].Comments)
							{
								<p><b>Comment: </b>@comment.Comment</p>
							}
						}
						if (articles[i].Author == User.Identity.Name)
						{
							using (Html.BeginForm("CreateRevision", "Home", FormMethod.Post))
							{
								var revisionModel = new NewsfeedRepo.Models.ArticleRevision();
								@Html.AntiForgeryToken()
								<input type="hidden" name="ArticleId" value="@i" />
								<div class="form-horizontal">
									@Html.ValidationSummary(true, "", new { @class = "text-danger" })
									<div class="form-group">
										@Html.LabelFor(model => revisionModel.Revision, htmlAttributes: new { @class = "control-label col-md-2" })
										<div class="col-md-10">
											@Html.EditorFor(model => revisionModel.Revision, new { htmlAttributes = new { @class = "form-control" } })
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-offset-2 col-md-10">
											<input type="submit" value="Revise" class="btn btn-default" />
										</div>
									</div>
								</div>
							}				
						}

						<div class="row">							
							@if (articles[i].Likes != null)
							{
								<div class="col-sm-1">@articles[i].Likes.Count</div>
							}							
							<div class="col-sm-1">
								@using (Html.BeginForm("CreateLike", "Home", FormMethod.Post))
								{
								var likeModel = new NewsfeedRepo.Models.ArticleLike();
								<input type="hidden" name="ArticleId" value="@i" />
								<input type="submit" class="btn btn-default glyphicon glyphicon-thumbs-up" value="Like" />
								}
							</div>
						</div>					

						using (Html.BeginForm("CreateComment", "Home", FormMethod.Post))
						{
							var commentModel = new NewsfeedRepo.Models.ArticleComment();
							@Html.AntiForgeryToken()

							<div class="form-horizontal">
								<div class="form-group">
									@Html.LabelFor(model => commentModel.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
									<div class="col-md-10">
										@Html.EditorFor(model => commentModel.Comment, new { htmlAttributes = new { @class = "form-control" } })
									</div>
								</div>
								<input type="hidden" name="ArticleId" value="@i" />
								<div class="form-group">
									<div class="col-md-offset-2 col-md-10">
										<input type="submit" value="Submit" class="btn btn-default" />
									</div>
								</div>
							</div>
						}
					}
				}
			}
		</div>
</div>