@model List<NewsfeedRepo.Models.Article>
@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Lorem Ipsum Blog</h1>
	<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
</div>

<div class="row">
	@if (User.Identity.IsAuthenticated)
	{
		<div class="col-md-6">
			@Html.Partial("CreateArticle", new NewsfeedRepo.Models.Article())
		</div>
	}

		<div class="col-md-6">

			<h2>Recent Posts</h2>

			@{
				if (Model == null)
				{
					<h4>No posts to display</h4>
				}
				else
				{

					for (int i = 0; i < Model.Count(); i++)
					{
						var articles = Model.ToList();
						<p><b>Title: </b>@articles[i].Title</p>
						if(articles[i].Revised)
						{
							<p><b>Revised on: </b>@articles[i].DateRevised</p>
						}						
						<p><b>Posted by: </b>@articles[i].Author</p>
						<p><b>Date: </b>@articles[i].DatePosted</p>
						<p>@articles[i].Body</p>
						if (articles[i].Comments != null)
						{
							foreach (var comment in articles[i].Comments)
							{
								<p><b>Comment: </b>@comment.Comment</p>
							}
						}
						if (articles[i].Author == User.Identity.Name)
						{
							@Html.Partial("CreateRevision", new NewsfeedRepo.Models.ArticleRevision(), new ViewDataDictionary() { { "index", @i } });
						}

						<div class="row">							
							@if (articles[i].Likes != null)
							{
								<div class="col-sm-1">@articles[i].Likes.Count</div>
							}							
							<div class="col-sm-1">
								@using (Html.BeginForm("CreateLike", "Home", FormMethod.Post))
								{
								var likeModel = new NewsfeedRepo.Models.ArticleLike();
								<input type="hidden" name="ArticleId" value="@i" />
								<input type="submit" class="btn btn-default glyphicon glyphicon-thumbs-up" value="Like" />
								}
							</div>
						</div>					

						@Html.Partial("CreateComment", new NewsfeedRepo.Models.ArticleComment(), new ViewDataDictionary() { { "index", @i } });
						
					}
				}
			}
		</div>
</div>